@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  font-family: 'Oxygen', sans-serif;

  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #eb28db;
}


section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.1rem solid #10221b;
  border-radius: 20px;
  color: #f1f0ec;
  cursor: pointer;
  /* background: none; */
  background-color: rgba(247, 30, 14, 0.479);
  font-size: 2.3rem;
  font-weight: 600;
  padding: .7rem 5rem;
}

.button{
  display: inline-block;
  border: 0.1rem solid #bec04d;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  padding: .5rem 2rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}
.button-2{
  display: inline-block;
  border: 0.1rem solid #4dc0b5;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  padding: .5rem 2rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #4dc0b5;
}


.btn:hover {
    /* background: linear-gradient(to right top, #ee1506, #3003f5); */
    background: rgb(238,213,174);
background: radial-gradient(circle, rgba(238,213,174,1) 0%, rgba(187,233,148,1) 100%);
  color: #fff;
  font-size: 2.5;
}

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #10221b;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 9%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header.active {
    /* background: linear-gradient(to right top, rgb(238, 100, 58), rgb(5, 82, 197)); */
    /* background-image: linear-gradient( to right, #f1b42f, #b2b6f3); */
    /* background-image: linear-gradient( to bottom right, #f1b42f, #b2b6f3); */
    /* background-image: radial-gradient(circle, rgba(247, 247, 66,0.65), #8df7e5); */
    /* background: rgb(238,213,174);
background: radial-gradient(circle, rgba(238,213,174,1) 0%, rgba(187,233,148,1) 100%); */
background-color: rgba(247, 241, 241,1);
}

.header .logo {
  margin-right: auto;
  /* margin-left: 10px; */
  font-size: 2.5rem;
  color: #179766;
  font-weight: bolder;
  text-align: center;
}

/* .header .logo img {
  /* color: #219150;
  height: 40px;
  width: 40px;
  position: relative;
  bottom: -10px;
} */
.header .logo span{
    color: coral;
}

.header .navbar a {
  margin-left: 3rem;
  font-size: 1.7rem;
  color: #10221b;
}

.header .navbar a:hover {
  color: #219150;
}

.header .navbar #nav-close {
  font-size: 4rem;
  cursor: pointer;
  color: #10221b;
  display: none;
}

.header .icons a,
.header .icons div {
 
  font-size: 2.5rem;
  margin-left: 2rem;
  margin-right: 3rem;
  cursor: pointer;
  color: #10221b;
}

.header .icons a:hover,
.header .icons div:hover {
  color: #219150;
}

.header #menu-btn {
  display: none;
}
/* search form */
.search-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10000;
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
  
  .search-form.active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  
  .search-form #close-search {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: #fff;
    font-size: 4rem;
  }
  
  .search-form #close-search:hover {
    color: #219150;
  }
  
  .search-form form {
    width: 70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .search-form form input {
    width: 100%;
    font-size: 2rem;
    color: #fff;
    text-transform: none;
    background: none;
    padding-right: 2rem;
  }
  
  .search-form form input::-webkit-input-placeholder {
    color: #aaa;
  }
  
  .search-form form input:-ms-input-placeholder {
    color: #aaa;
  }
  
  .search-form form input::-ms-input-placeholder {
    color: #aaa;
  }
  
  .search-form form input::placeholder {
    color: #aaa;
  }
  
  .search-form form label {
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
  }
  
  .search-form form label:hover {
    color: #219150;
  }

  /* home carousal start */
  .home {
    padding: 0;
  }
  
  .home .box {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: cover !important;
    background-position: center !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 2rem 9%; 
  }
  
  .home .box.second {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
  .home .box .content {
    width: 50rem;
  }
  
  .home .box .content span {
    font-size: 4rem;
    color: #10221b;
  }
  
  .home .box .content h3 {
    font-size: 6rem;
    color: #219150;
    padding-top: .5rem;
    text-transform: uppercase;
  }
  
  .home .box .content p {
    line-height: 2;
    color: #10221b;
    font-size: 1.5rem;
    padding: 1rem 0;
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 3rem;
    color: #10221b;
  }

  
/* prject project start */

.project {
  margin-top: 20px;
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    
    background-image: url(/images/sec-background.jpg);

  }
  
  .project .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
  }
  
  .project .image img {
    width: 100%;
    -webkit-box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
            box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .project .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
  }
  
  .project .content h3 {
    font-size: 3rem;
    color: #219150;
  }
  
  .project .content p {
    font-size: 1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height: 2;
  }
  /* banner start */
  .section-m1{
    margin: 20px 0;
}
  #banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("/images/banner-bg.jpeg");
    width: 100%;
    height: 30vh;
    background-position: center;
}

#banner h4{
    font-size: 4rem;
    font-weight: 600;
    color: white;
}
#banner h2{
    font-size: 45px;
    font-weight: 600;
    color: white;
    padding-top: 20px;
}
#banner h2 span{
    color: #c00bc0;
}
  

  /* footer section */
  .footer {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/images/footer-bg.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/footer-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2rem;
    padding: 1.5rem 0;
    color: #fff;
  }
  
  .footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: #fff;
    padding: 1rem 0;
  }
  
  .footer .box-container .box a i {
    color: #219150;
    padding-right: .5rem;
  }
  
  .footer .box-container .box a:hover {
    color: #219150;
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
  }
  
  .footer .credit {
    text-align: center;
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #fff;
  }
  
  .footer .credit span {
    color: #219150;
  }
  



  /* media query start */


@media (max-width: 1200px) {
    .header {
      padding: 2rem;
    }
    section {
      padding: 3rem 2rem;
    }
  }
  
  @media (max-width: 991px) {
    html {
      font-size: 55%;
      scroll-padding-top: 7rem;
    }
    .home .box {
      padding: 2rem;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-position: right !important;
    }
    .home .box.second {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-position: left !important;
    }
    .home .box .content {
      text-align: center;
    }
    .home .box .content span {
      font-size: 3rem;
    }
    .home .box .content h3 {
      font-size: 4rem;
    }
  }
  
  @media (max-width: 768px) {
    .header #menu-btn {
      display: inline-block;
    }
    .header .navbar {
      position: fixed;
      top: 0;
      left: -110%;
      background: #fff;
      z-index: 10000;
      width: 35rem;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .header .navbar.active {
      left: 0;
      -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
              box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    }
    .header .navbar a {
      margin: 1rem 0;
      font-size: 3rem;
    }
    .header .navbar #nav-close {
      display: block;
      position: absolute;
      top: 1rem;
      right: 2rem;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }

    .button{
      display: none;
      
    }
    .button-2{
     display: none;
    }
    .heading {
      font-size: 3rem;
    }
  
    .header .logo {
        margin: auto;
        /* margin-left: 10px; */
        font-size: 2.5rem;
        color: #179766;
        font-weight: bolder;
        text-align: center;
      }
      

    }