asgiref==3.5.1
backports.zoneinfo==0.2.1
da-vinci==0.3.0
Django==4.0.4
django-ckeditor==6.4.0
django-filter==21.1
django-js-asset==2.0.0
django-thumbnails==0.7.0
djangorestframework==3.13.1
importlib-metadata==4.11.3
Markdown==3.3.7
Pillow==9.1.0
pytz==2022.1
shortuuid==1.0.8
sqlparse==0.4.2
tzdata==2022.1
waitress==2.1.1
whitenoise==6.0.0
zipp==3.8.0
